In this submission notebook, I will train the best model on the whole cleaned data set and use it to predict the actual test data set

In [105]:
import pandas as pd
import numpy as np
import pickle
import joblib

In [106]:
training_df = pd.read_csv(r"../cleaned_data/cleaned_data.csv")

In [107]:
training_df.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,Destination,VIP,CryoSleep,Transported,cabin_group,cabin_number,cabin_side,passenger_group_size,RoomService_customer,FoodCourt_customer,ShoppingMall_customer,Spa_customer,VRDeck_customer
0,39.0,0.0,0.0,0.0,0.0,0.0,Europa,TRAPPIST-1e,False,False,False,B,0,P,1,False,False,False,False,False
1,24.0,109.0,9.0,25.0,549.0,44.0,Earth,TRAPPIST-1e,False,False,True,F,0,S,1,True,True,True,True,True
2,58.0,43.0,3576.0,0.0,6715.0,49.0,Europa,TRAPPIST-1e,True,False,False,A,0,S,2,True,True,False,True,True
3,33.0,0.0,1283.0,371.0,3329.0,193.0,Europa,TRAPPIST-1e,False,False,False,A,0,S,2,False,True,True,True,True
4,16.0,303.0,70.0,151.0,565.0,2.0,Earth,TRAPPIST-1e,False,False,True,F,1,S,1,True,True,True,True,True

In [108]:
#creating a list of columns to use later on the test set

training_cols = training_df.columns.tolist()

training_cols_final = [x for x in training_cols if x != "Transported"]

training_cols_final

['Age',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'HomePlanet',
 'Destination',
 'VIP',
 'CryoSleep',
 'cabin_group',
 'cabin_number',
 'cabin_side',
 'passenger_group_size',
 'RoomService_customer',
 'FoodCourt_customer',
 'ShoppingMall_customer',
 'Spa_customer',
 'VRDeck_customer']

Selectign Training Data

In [109]:
X_train = training_df[training_cols_final]
y_train = training_df['Transported']

X_train.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,Destination,VIP,CryoSleep,cabin_group,cabin_number,cabin_side,passenger_group_size,RoomService_customer,FoodCourt_customer,ShoppingMall_customer,Spa_customer,VRDeck_customer
0,39.0,0.0,0.0,0.0,0.0,0.0,Europa,TRAPPIST-1e,False,False,B,0,P,1,False,False,False,False,False
1,24.0,109.0,9.0,25.0,549.0,44.0,Earth,TRAPPIST-1e,False,False,F,0,S,1,True,True,True,True,True
2,58.0,43.0,3576.0,0.0,6715.0,49.0,Europa,TRAPPIST-1e,True,False,A,0,S,2,True,True,False,True,True
3,33.0,0.0,1283.0,371.0,3329.0,193.0,Europa,TRAPPIST-1e,False,False,A,0,S,2,False,True,True,True,True
4,16.0,303.0,70.0,151.0,565.0,2.0,Earth,TRAPPIST-1e,False,False,F,1,S,1,True,True,True,True,True

Loading processor

In [110]:
preprocessor = joblib.load(r"../artifacts/preprocessor.joblib")
preprocessor_1 = joblib.load(r"../artifacts/preprocessor_1.joblib")

Transforming training dataset

In [111]:
training_processed = preprocessor.transform(X_train)

Converting Processed Data Set into a Dataframe

In [112]:
training_processed_df = pd.DataFrame(training_processed, columns=preprocessor.get_feature_names_out())

In [113]:
training_processed_df.head()

,num__Age,num__RoomService,num__FoodCourt,num__ShoppingMall,num__Spa,num__VRDeck,num__cabin_number,num__passenger_group_size,one_hot__HomePlanet_Earth,one_hot__HomePlanet_Europa,...,one_hot__RoomService_customer_False,one_hot__RoomService_customer_True,one_hot__FoodCourt_customer_False,one_hot__FoodCourt_customer_True,one_hot__ShoppingMall_customer_False,one_hot__ShoppingMall_customer_True,one_hot__Spa_customer_False,one_hot__Spa_customer_True,one_hot__VRDeck_customer_False,one_hot__VRDeck_customer_True
0,0.700870,-0.332213,-0.286542,-0.298906,-0.265089,-0.265611,-1.199029,-0.645587,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,-0.338660,-0.172504,-0.280623,-0.254667,0.201747,-0.225655,-1.199029,-0.645587,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
2,2.017608,-0.269209,2.065252,-0.298906,5.444943,-0.221115,-1.199029,-0.011870,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
3,0.285058,-0.332213,0.557237,0.357594,2.565692,-0.090352,-1.199029,-0.011870,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,-0.893076,0.111749,-0.240506,-0.031705,0.215353,-0.263794,-1.197048,-0.645587,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [114]:


with open("../best_model/rf_best_model.pkl", "rb") as f:
    loaded_model = pickle.load(f)

In [115]:
new_best_model = loaded_model.fit(training_processed_df,y_train)

Loading the Test data

In [116]:
test_df = pd.read_csv(r"../data_source__spaceship-titanic/test.csv")

In [117]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [118]:
test_df_ = test_df.copy()

In [119]:
test_df_.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [120]:
#test_df_ = test_df_.drop(['PassengerId', 'Name'], axis=1)

In [121]:
#creating a dummy transported column
test_df_['Transported']= 'na'

In [122]:
test_df_processed = preprocessor_1.transform(test_df_)

In [123]:
test_df_processed_df = pd.DataFrame(test_df_processed, columns=preprocessor_1.get_feature_names_out())

In [124]:
test_df_processed_df

,mode__Cabin,median__Age,zero__RoomService,zero__FoodCourt,zero__ShoppingMall,zero__Spa,zero__VRDeck,unknown__HomePlanet,unknown__Destination,unknown__Name,false__VIP,remainder__PassengerId,remainder__CryoSleep,remainder__Transported
0,G/3/S,27.0,0.0,0.0,0.0,0.0,0.0,Earth,TRAPPIST-1e,Nelly Carsoning,False,0013_01,True,na
1,F/4/S,19.0,0.0,9.0,0.0,2823.0,0.0,Earth,TRAPPIST-1e,Lerome Peckers,False,0018_01,False,na
2,C/0/S,31.0,0.0,0.0,0.0,0.0,0.0,Europa,55 Cancri e,Sabih Unhearfus,False,0019_01,True,na
3,C/1/S,38.0,0.0,6652.0,0.0,181.0,585.0,Europa,TRAPPIST-1e,Meratz Caltilter,False,0021_01,False,na
4,F/5/S,20.0,10.0,0.0,635.0,0.0,0.0,Earth,TRAPPIST-1e,Brence Harperez,False,0023_01,False,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,G/1496/S,34.0,0.0,0.0,0.0,0.0,0.0,Earth,TRAPPIST-1e,Jeron Peter,False,9266_02,True,na
4273,G/734/S,42.0,0.0,847.0,17.0,10.0,144.0,Earth,TRAPPIST-1e,Matty Scheron,False,9269_01,False,na
4274,D/296/P,27.0,0.0,0.0,0.0,0.0,0.0,Mars,55 Cancri e,Jayrin Pore,False,9271_01,True,na
4275,D/297/P,27.0,0.0,2680.0,0.0,0.0,523.0,Europa,unknown,Kitakan Conale,False,9273_01,False,na
4276,G/1498/S,43.0,0.0,0.0,0.0,0.0,0.0,Earth,PSO J318.5-22,Lilace Leonzaley,False,9277_01,True,na

In [125]:
test_df_processed_df.columns = test_df_processed_df.columns.str.replace(r".*__", "", regex=True)

In [126]:
test_df_processed_df['RoomService_customer'] = np.where(test_df_processed_df['RoomService']>0, True, False)
test_df_processed_df['FoodCourt_customer'] = np.where(test_df_processed_df['FoodCourt']>0, True, False)
test_df_processed_df['FoodCourt_customer'] = np.where(test_df_processed_df['FoodCourt']>0, True, False)
test_df_processed_df['ShoppingMall_customer'] = np.where(test_df_processed_df['ShoppingMall']>0, True, False)
test_df_processed_df['Spa_customer'] = np.where(test_df_processed_df['Spa']>0, True, False)
test_df_processed_df['VRDeck_customer'] = np.where(test_df_processed_df['VRDeck']>0, True, False)

In [127]:
test_df_processed_df['cabin_group'] = test_df_processed_df['Cabin'].str[:1]

In [128]:
test_df_processed_df.head()

,Cabin,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,Destination,Name,VIP,PassengerId,CryoSleep,Transported,RoomService_customer,FoodCourt_customer,ShoppingMall_customer,Spa_customer,VRDeck_customer,cabin_group
0,G/3/S,27.0,0.0,0.0,0.0,0.0,0.0,Earth,TRAPPIST-1e,Nelly Carsoning,False,0013_01,True,na,False,False,False,False,False,G
1,F/4/S,19.0,0.0,9.0,0.0,2823.0,0.0,Earth,TRAPPIST-1e,Lerome Peckers,False,0018_01,False,na,False,True,False,True,False,F
2,C/0/S,31.0,0.0,0.0,0.0,0.0,0.0,Europa,55 Cancri e,Sabih Unhearfus,False,0019_01,True,na,False,False,False,False,False,C
3,C/1/S,38.0,0.0,6652.0,0.0,181.0,585.0,Europa,TRAPPIST-1e,Meratz Caltilter,False,0021_01,False,na,False,True,False,True,True,C
4,F/5/S,20.0,10.0,0.0,635.0,0.0,0.0,Earth,TRAPPIST-1e,Brence Harperez,False,0023_01,False,na,True,False,True,False,False,F

In [129]:
test_df_processed_df['cabin_group'] = test_df_processed_df['Cabin'].str[:1]
test_df_processed_df['cabin_number'] = test_df_processed_df['Cabin'].str.extract(r"/([^/]+)/")
test_df_processed_df['cabin_side'] = test_df_processed_df['Cabin'].str.extract(r"/([^/]+)$")
test_df_processed_df['passenger_group'] = test_df_processed_df['PassengerId'].str[:4]

In [130]:
passenger_group_size_dict = test_df_processed_df['passenger_group'].value_counts().to_dict()
passenger_group_size_dict

{'6332': 8,
 '6499': 8,
 '6986': 8,
 '8543': 8,
 '1072': 8,
 '0339': 8,
 '8980': 7,
 '0717': 7,
 '9238': 7,
 '1354': 7,
 '4582': 7,
 '7597': 7,
 '5329': 7,
 '7130': 7,
 '2794': 7,
 '3368': 7,
 '3659': 7,
 '3601': 7,
 '3589': 7,
 '3411': 7,
 '7354': 6,
 '8925': 6,
 '0495': 6,
 '0775': 6,
 '5911': 6,
 '3008': 6,
 '4639': 6,
 '2425': 6,
 '4523': 6,
 '6267': 6,
 '6612': 6,
 '0349': 6,
 '1629': 6,
 '7243': 5,
 '2057': 5,
 '5577': 5,
 '8804': 5,
 '8800': 5,
 '8793': 5,
 '0652': 5,
 '1471': 5,
 '5024': 5,
 '5936': 5,
 '1118': 5,
 '5588': 5,
 '0175': 5,
 '7582': 5,
 '6005': 5,
 '2307': 5,
 '2068': 5,
 '3712': 5,
 '8361': 5,
 '9016': 5,
 '7893': 5,
 '2667': 5,
 '7792': 5,
 '3618': 4,
 '5357': 4,
 '1910': 4,
 '6193': 4,
 '1145': 4,
 '5664': 4,
 '7135': 4,
 '3016': 4,
 '1135': 4,
 '7556': 4,
 '4323': 4,
 '2868': 4,
 '6288': 4,
 '2997': 4,
 '1257': 4,
 '2355': 4,
 '8113': 4,
 '2370': 4,
 '3078': 4,
 '3513': 4,
 '0467': 4,
 '5371': 4,
 '2850': 4,
 '7991': 4,
 '0228': 4,
 '5513': 4,
 '2946': 4,
 '6081': 4,
 '1852': 4,
 '7380': 4,
 '5815': 4,
 '8534': 4,
 '7998': 4,
 '9155': 4,
 '5335': 4,
 '3858': 4,
 '3265': 4,
 '3989': 4,
 '1207': 4,
 '7530': 4,
 '6888': 4,
 '4551': 4,
 '4701': 4,
 '7528': 4,
 '2976': 4,
 '4776': 4,
 '5782': 4,
 '1502': 4,
 '4671': 4,
 '1321': 4,
 '3746': 4,
 '7489': 3,
 '3828': 3,
 '1913': 3,
 '4935': 3,
 '7915': 3,
 '6257': 3,
 '7557': 3,
 '8763': 3,
 '2637': 3,
 '1301': 3,
 '0620': 3,
 '1862': 3,
 '6559': 3,
 '0625': 3,
 '0626': 3,
 '6231': 3,
 '0632': 3,
 '2630': 3,
 '0720': 3,
 '8385': 3,
 '7934': 3,
 '6233': 3,
 '8402': 3,
 '7927': 3,
 '7426': 3,
 '8768': 3,
 '1909': 3,
 '8400': 3,
 '0827': 3,
 '2487': 3,
 '8565': 3,
 '7629': 3,
 '7637': 3,
 '4799': 3,
 '1124': 3,
 '3943': 3,
 '0943': 3,
 '2036': 3,
 '1111': 3,
 '5787': 3,
 '2240': 3,
 '8567': 3,
 '2039': 3,
 '0909': 3,
 '4761': 3,
 '6383': 3,
 '8555': 3,
 '4048': 3,
 '4054': 3,
 '2160': 3,
 '0054': 3,
 '4086': 3,
 '7765': 3,
 '2079': 3,
 '4070': 3,
 '2023': 3,
 '8648': 3,
 '0758': 3,
 '2394': 3,
 '0759': 3,
 '0774': 3,
 '0047': 3,
 '6269': 3,
 '6491': 3,
 '8440': 3,
 '2430': 3,
 '7541': 3,
 '3876': 3,
 '3720': 3,
 '8692': 3,
 '1183': 3,
 '0892': 3,
 '8445': 3,
 '8450': 3,
 '5873': 3,
 '8677': 3,
 '1159': 3,
 '0864': 3,
 '2350': 3,
 '3893': 3,
 '0886': 3,
 '7825': 3,
 '5308': 3,
 '6577': 3,
 '8873': 3,
 '5369': 3,
 '5098': 3,
 '6119': 3,
 '0194': 3,
 '4385': 3,
 '7163': 3,
 '2977': 3,
 '0363': 3,
 '6936': 3,
 '8304': 3,
 '8305': 3,
 '6819': 3,
 '3587': 3,
 '3244': 3,
 '6904': 3,
 '8960': 3,
 '9143': 3,
 '6658': 3,
 '9146': 3,
 '3617': 3,
 '5505': 3,
 '1422': 3,
 '5339': 3,
 '9022': 3,
 '0264': 3,
 '7046': 3,
 '5267': 3,
 '1689': 3,
 '0273': 3,
 '3105': 3,
 '6752': 3,
 '7067': 3,
 '4377': 3,
 '6770': 3,
 '1726': 3,
 '4298': 3,
 '7124': 3,
 '1741': 3,
 '6959': 3,
 '4286': 3,
 '5841': 3,
 '0419': 3,
 '1369': 3,
 '4455': 3,
 '2815': 3,
 '6617': 3,
 '0046': 3,
 '6875': 3,
 '1341': 3,
 '6074': 3,
 '3701': 3,
 '7348': 3,
 '6838': 3,
 '2719': 3,
 '7963': 3,
 '3675': 3,
 '7329': 3,
 '8913': 3,
 '7319': 3,
 '0530': 3,
 '1320': 3,
 '3657': 3,
 '1343': 3,
 '4263': 3,
 '0142': 3,
 '4583': 3,
 '1814': 3,
 '6876': 3,
 '9162': 3,
 '5043': 3,
 '7266': 3,
 '8875': 3,
 '8181': 3,
 '3345': 3,
 '9206': 3,
 '2848': 3,
 '8340': 3,
 '4378': 2,
 '2016': 2,
 '2101': 2,
 '2017': 2,
 '8125': 2,
 '6295': 2,
 '6142': 2,
 '3341': 2,
 '4094': 2,
 '6312': 2,
 '1591': 2,
 '7798': 2,
 '1665': 2,
 '4420': 2,
 '4419': 2,
 '1582': 2,
 '1587': 2,
 '1559': 2,
 '1598': 2,
 '1553': 2,
 '2037': 2,
 '2035': 2,
 '4425': 2,
 '7795': 2,
 '4381': 2,
 '1554': 2,
 '2072': 2,
 '4341': 2,
 '1851': 2,
 '2005': 2,
 '6151': 2,
 '6260': 2,
 '4180': 2,
 '1921': 2,
 '7909': 2,
 '1793': 2,
 '1801': 2,
 '7978': 2,
 '4268': 2,
 '7971': 2,
 '6244': 2,
 '7921': 2,
 '4202': 2,
 '1825': 2,
 '4224': 2,
 '6217': 2,
 '4226': 2,
 '4248': 2,
 '7942': 2,
 '1835': 2,
 '4247': 2,
 '4236': 2,
 '4235': 2,
 '4234': 2,
 '1791': 2,
 '7880': 2,
 '6261': 2,
 '8039': 2,
 '6160': 2,
 '1680': 2,
 '1990': 2,
 '4133': 2,
 '8061': 2,
 '4136': 2,
 '8051': 2,
 '8041': 2,
 '6287': 2,
 '7846': 2,
 '4288': 2,
 '1790': 2,
 '6278': 2,
 '1751': 2,
 '4284': 2,
 '6272': 2,
 '1777': 2,
 '5306': 2,
 '1951': 2,
 '7874': 2,
 '1948': 2,
 '6209': 2,
 '6286': 2,
 '0100': 2,
 '4073': 2,
 '2898': 2,
 '2904': 2,
 '3621': 2,
 '3603': 2,
 '2931': 2,
 '7209': 2,
 '5318': 2,
 '6678': 2,
 '0032': 2,
 '6682': 2,
 '7172': 2,
 '3580': 2,
 '6689': 2,
 '7150': 2,
 '3549': 2,
 '3544': 2,
 '6700': 2,
 '9266': 2,
 '7241': 2,
 '3635': 2,
 '7103': 2,
 '7248': 2,
 '2715': 2,
 '2716': 2,
 '2761': 2,
 '6596': 2,
 '6600': 2,
 '6605': 2,
 '3684': 2,
 '3683': 2,
 '7295': 2,
 '2808': 2,
 '3672': 2,
 '0040': 2,
 '5317': 2,
 '7269': 2,
 '2845': 2,
 '3656': 2,
 '3646': 2,
 '3037': 2,
 '3509': 2,
 '2108': 2,
 '6961': 2,
 '6772': 2,
 '3190': 2,
 '3407': 2,
 '6933': 2,
 '6793': 2,
 '3245': 2,
 '3249': 2,
 '6807': 2,
 '6812': 2,
 '3285': 2,
 '3290': 2,
 '3362': 2,
 '6835': 2,
 '3351': 2,
 '3320': 2,
 '6852': 2,
 '3347': 2,
 '3448': 2,
 '6767': 2,
 '7101': 2,
 '6983': 2,
 '7100': 2,
 '7081': 2,
 '3077': 2,
 '3508': 2,
 '7066': 2,
 '7063': 2,
 '7054': 2,
 '3122': 2,
 '3125': 2,
 '3494': 2,
 '3482': 2,
 '6738': 2,
 '3477': 2,
 '7009': 2,
 '3148': 2,
 '3153': 2,
 '3155': 2,
 '3717': 2,
 '2710': 2,
 '2694': 2,
 '2276': 2,
 '7612': 2,
 '7611': 2,
 '7610': 2,
 '3908': 2,
 '3906': 2,
 '7600': 2,
 '7591': 2,
 '2343': 2,
 '2344': 2,
 '2351': 2,
 '3892': 2,
 '3889': 2,
 '7570': 2,
 '2378': 2,
 '2380': 2,
 '2383': 2,
 '7558': 2,
 '3925': 2,
 '3934': 2,
 '7373': 2,
 '2259': 2,
 '6342': 2,
 '2119': 2,
 '6345': 2,
 '7740': 2,
 '2146': 2,
 '4059': 2,
 '6352': 2,
 '6358': 2,
 '2184': 2,
 '4015': 2,
 '4012': 2,
 '6391': 2,
 '6401': 2,
 '6410': 2,
 '2245': 2,
 '2246': 2,
 '6425': 2,
 '2388': 2,
 '4435': 2,
 '6479': 2,
 '2422': 2,
 '3809': 2,
 '6533': 2,
 '7439': 2,
 '2577': 2,
 '2587': 2,
 '7423': 2,
 '2603': 2,
 '7421': 2,
 '7417': 2,
 '3782': 2,
 '7413': 2,
 '7409': 2,
 '3766': 2,
 '3764': 2,
 '7383': 2,
 '6564': 2,
 '2674': 2,
 '2567': 2,
 '3829': 2,
 '2538': 2,
 '2484': 2,
 '2434': 2,
 '7539': 2,
 '2448': 2,
 '6496': 2,
 '2469': 2,
 '2481': 2,
 '2482': 2,
 '6504': 2,
 '6516': 2,
 '2493': 2,
 '2494': 2,
 '3844': 2,
 '7482': 2,
 '6506': 2,
 '7473': 2,
 '7471': 2,
 '1538': 2,
 '3344': 2,
 '4439': 2,
 '5096': 2,
 '0342': 2,
 '4727': 2,
 '8520': 2,
 '8525': 2,
 '1064': 2,
 '8526': 2,
 '1059': 2,
 '0344': 2,
 '9212': 2,
 '0353': 2,
 '8994': 2,
 '4747': 2,
 '0364': 2,
 '0374': 2,
 '0094': 2,
 '1219': 2,
 '0999': 2,
 '5094': 2,
 '5086': 2,
 '0986': 2,
 '0981': 2,
 '5789': 2,
 '8568': 2,
 '4768': 2,
 '8583': 2,
 '0945': 2,
 '5056': 2,
 '5553': 2,
 '4802': 2,
 '5562': 2,
 '1074': 2,
 '8517': 2,
 '1090': 2,
 '8510': 2,
 '1209': 2,
 '4675': 2,
 '9053': 2,
 '1201': 2,
 '4683': 2,
 '1196': 2,
 '5131': 2,
 '8443': 2,
 '5473': 2,
 '1184': 2,
 '9045': 2,
 '1158': 2,
 '8464': 2,
 '8473': 2,
 '5482': 2,
 '8478': 2,
 '1137': 2,
 '1128': 2,
 '1125': 2,
 '4702': 2,
 '4703': 2,
 '1119': 2,
 '4705': 2,
 '4707': 2,
 '1106': 2,
 '5498': 2,
 '0319': 2,
 '4966': 2,
 '9025': 2,
 '0897': 2,
 '8632': 2,
 '4820': 2,
 '0536': 2,
 '0778': 2,
 '9223': 2,
 '0763': 2,
 '0748': 2,
 '0557': 2,
 '0562': 2,
 '0742': 2,
 '8877': 2,
 '0578': 2,
 '0584': 2,
 '8747': 2,
 '8748': 2,
 '8870': 2,
 '0731': 2,
 '8758': 2,
 '4984': 2,
 '8767': 2,
 '0613': 2,
 '0708': 2,
 '5620': 2,
 '4969': 2,
 '8778': 2,
 '8846': 2,
 '4949': 2,
 '8839': 2,
 '0640': 2,
 '0648': 2,
 '0670': 2,
 '0666': 2,
 '8893': 2,
 '8895': 2,
 '0888': 2,
 '5678': 2,
 '0887': 2,
 '0478': 2,
 '5038': 2,
 '0884': 2,
 '0483': 2,
 '0880': 2,
 '5376': 2,
 '0489': 2,
 '4833': 2,
 '0858': 2,
 '5734': 2,
 '5731': 2,
 '5720': 2,
 '5033': 2,
 '8678': 2,
 '4843': 2,
 '5715': 2,
 '5031': 2,
 '0494': 2,
 '8690': 2,
 '0838': 2,
 '0837': 2,
 '0496': 2,
 '5029': 2,
 '4855': 2,
 '5584': 2,
 '1534': 2,
 '0532': 2,
 '8713': 2,
 '1217': 2,
 '5851': 2,
 '1224': 2,
 '5159': 2,
 '5997': 2,
 '8284': 2,
 '9096': 2,
 '1432': 2,
 '1226': 2,
 '5966': 2,
 '5964': 2,
 '0214': 2,
 '5164': 2,
 '1409': 2,
 '5961': 2,
 '6009': 2,
 '8325': 2,
 '0230': 2,
 '1364': 2,
 '1361': 2,
 '1358': 2,
 '1349': 2,
 '5942': 2,
 '9086': 2,
 '1338': 2,
 '9083': 2,
 '5428': 2,
 '1469': 2,
 '1319': 2,
 '0150': 2,
 '4443': 2,
 '1518': 2,
 '8196': 2,
 '5382': 2,
 '5241': 2,
 '0125': 2,
 '9187': 2,
 '9177': 2,
 '5232': 2,
 '1497': 2,
 '1495': 2,
 '1473': 2,
 '6051': 2,
 '1492': 2,
 '5228': 2,
 '1487': 2,
 '0158': 2,
 '6044': 2,
 '8245': 2,
 '5219': 2,
 '1477': 2,
 '5203': 2,
 '0247': 2,
 '5978': 2,
 '5904': 2,
 '4626': 2,
 '9062': 2,
 '8370': 2,
 '0268': 2,
 '9067': 2,
 '8425': 2,
 '8426': 2,
 '5893': 2,
 '0276': 2,
 '8408': 2,
 '4614': 2,
 '9070': 2,
 '1262': 2,
 '4600': 2,
 '5149': 2,
 '5293': 2,
 '0274': 2,
 '8357': 2,
 '0266': 2,
 '6815': 1,
 '5604': 1,
 '6589': 1,
 '5600': 1,
 '5400': 1,
 '6732': 1,
 '5597': 1,
 '6715': 1,
 '6584': 1,
 '6586': 1,
 '6587': 1,
 '5377': 1,
 '6811': 1,
 '6597': 1,
 '6710': 1,
 '6797': 1,
 '6803': 1,
 '5409': 1,
 '5407': 1,
 '6610': 1,
 '5373': 1,
 '6804': 1,
 '6712': 1,
 '5579': 1,
 '5405': 1,
 '6607': 1,
 '5342': 1,
 '5403': 1,
 '6714': 1,
 '5593': 1,
 '6809': 1,
 '5590': 1,
 '5399': 1,
 '6581': 1,
 '6716': 1,
 '5617': 1,
 '6566': 1,
 '5391': 1,
 '5386': 1,
 '6717': 1,
 '5464': 1,
 '5621': 1,
 '6555': 1,
 '6554': 1,
 '5460': 1,
 '6842': 1,
 '5461': 1,
 '5381': 1,
 '6551': 1,
 '5624': 1,
 '6836': 1,
 '6571': 1,
 '6723': 1,
 '6828': 1,
 '5605': 1,
 '5481': 1,
 '6795': 1,
 '6823': 1,
 '6728': 1,
 '5398': 1,
 '6579': 1,
 '6830': 1,
 '5456': 1,
 '5607': 1,
 '5393': 1,
 '5612': 1,
 '6576': 1,
 '6575': 1,
 '6615': 1,
 '6790': 1,
 '5417': 1,
 '5533': 1,
 '5519': 1,
 '6677': 1,
 '6666': 1,
 '6735': 1,
 '5439': 1,
 '5525': 1,
 '5532': 1,
 '6661': 1,
 '6759': 1,
 '6768': 1,
 '5448': 1,
 '5534': 1,
 '5542': 1,
 '6769': 1,
 '5547': 1,
 '5548': 1,
 '5338': 1,
 '5442': 1,
 '6791': 1,
 '6688': 1,
 '6696': 1,
 '5503': 1,
 '5502': 1,
 '6695': 1,
 '6690': 1,
 '6743': 1,
 '5444': 1,
 '6687': 1,
 '6679': 1,
 '5516': 1,
 '6686': 1,
 '6737': 1,
 '6701': 1,
 '5518': 1,
 '6685': 1,
 '6755': 1,
 '6657': 1,
 '6653': 1,
 '6651': 1,
 '5576': 1,
 '6733': 1,
 '5429': 1,
 '6704': 1,
 '6777': 1,
 '6781': 1,
 '6783': 1,
 '6785': 1,
 '5336': 1,
 '6648': 1,
 '6705': 1,
 '5486': 1,
 '6627': 1,
 '5426': 1,
 '6740': 1,
 '5419': 1,
 '6619': 1,
 '5570': 1,
 '5493': 1,
 '6771': 1,
 '5567': 1,
 '5549': 1,
 '5433': 1,
 '5449': 1,
 '5554': 1,
 '5558': 1,
 '6644': 1,
 '6703': 1,
 '6640': 1,
 '6636': 1,
 '5564': 1,
 '5565': 1,
 '6632': 1,
 '5432': 1,
 '5495': 1,
 '6629': 1,
 '6550': 1,
 '5691': 1,
 '5630': 1,
 '6255': 1,
 '5895': 1,
 '5896': 1,
 '5899': 1,
 '6242': 1,
 '6240': 1,
 '6235': 1,
 '5910': 1,
 '5364': 1,
 '5914': 1,
 '5917': 1,
 '5918': 1,
 '6226': 1,
 '5926': 1,
 '5929': 1,
 '6221': 1,
 '5932': 1,
 '5935': 1,
 '5937': 1,
 '5940': 1,
 '6214': 1,
 '5358': 1,
 '6212': 1,
 '6210': 1,
 '5943': 1,
 '5948': 1,
 '6247': 1,
 '5892': 1,
 '5632': 1,
 '6258': 1,
 '5845': 1,
 '5850': 1,
 '6329': 1,
 '5853': 1,
 '6314': 1,
 '5862': 1,
 '6311': 1,
 '6310': 1,
 '6307': 1,
 '6306': 1,
 '6303': 1,
 '6298': 1,
 '5864': 1,
 '5865': 1,
 '6294': 1,
 '5866': 1,
 '6291': 1,
 '5870': 1,
 '5872': 1,
 '5881': 1,
 '6284': 1,
 '6275': 1,
 '5883': 1,
 '5884': 1,
 '6259': 1,
 '5958': 1,
 '6204': 1,
 '5962': 1,
 '6203': 1,
 '6140': 1,
 '6134': 1,
 '6131': 1,
 '6046': 1,
 '6050': 1,
 '6129': 1,
 '6125': 1,
 '6114': 1,
 '6113': 1,
 '6053': 1,
 '6104': 1,
 '6056': 1,
 '6100': 1,
 '6097': 1,
 '6057': 1,
 '6093': 1,
 '6089': 1,
 '6088': 1,
 '6060': 1,
 '6063': 1,
 '6084': 1,
 '6072': 1,
 '6083': 1,
 '6078': 1,
 '6079': 1,
 '6144': 1,
 '6147': 1,
 '6037': 1,
 '6187': 1,
 '6202': 1,
 '6198': 1,
 '6197': 1,
 '6196': 1,
 '6195': 1,
 '5979': 1,
 '5982': 1,
 '5996': 1,
 '6002': 1,
 '6190': 1,
 '6188': 1,
 '6185': 1,
 '6023': 1,
 '5352': 1,
 '6183': 1,
 '6177': 1,
 '6165': 1,
 '6012': 1,
 '6164': 1,
 '6013': 1,
 '6018': 1,
 '6021': 1,
 '6159': 1,
 '6154': 1,
 '6333': 1,
 '6336': 1,
 '6337': 1,
 '6467': 1,
 '5665': 1,
 '5666': 1,
 '5668': 1,
 '5669': 1,
 '5670': 1,
 '5672': 1,
 '6498': 1,
 '6497': 1,
 '5675': 1,
 '5676': 1,
 '6495': 1,
 ...}

In [131]:

test_df_processed_df['passenger_group_size'] = test_df_processed_df['passenger_group'].map(passenger_group_size_dict)

In [132]:
training_cols_final

['Age',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'HomePlanet',
 'Destination',
 'VIP',
 'CryoSleep',
 'cabin_group',
 'cabin_number',
 'cabin_side',
 'passenger_group_size',
 'RoomService_customer',
 'FoodCourt_customer',
 'ShoppingMall_customer',
 'Spa_customer',
 'VRDeck_customer']

In [133]:
test_df_processed_df = test_df_processed_df[training_cols_final]

In [134]:
test_df_processed_df

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,Destination,VIP,CryoSleep,cabin_group,cabin_number,cabin_side,passenger_group_size,RoomService_customer,FoodCourt_customer,ShoppingMall_customer,Spa_customer,VRDeck_customer
0,27.0,0.0,0.0,0.0,0.0,0.0,Earth,TRAPPIST-1e,False,True,G,3,S,1,False,False,False,False,False
1,19.0,0.0,9.0,0.0,2823.0,0.0,Earth,TRAPPIST-1e,False,False,F,4,S,1,False,True,False,True,False
2,31.0,0.0,0.0,0.0,0.0,0.0,Europa,55 Cancri e,False,True,C,0,S,1,False,False,False,False,False
3,38.0,0.0,6652.0,0.0,181.0,585.0,Europa,TRAPPIST-1e,False,False,C,1,S,1,False,True,False,True,True
4,20.0,10.0,0.0,635.0,0.0,0.0,Earth,TRAPPIST-1e,False,False,F,5,S,1,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,34.0,0.0,0.0,0.0,0.0,0.0,Earth,TRAPPIST-1e,False,True,G,1496,S,2,False,False,False,False,False
4273,42.0,0.0,847.0,17.0,10.0,144.0,Earth,TRAPPIST-1e,False,False,G,734,S,1,False,True,True,True,True
4274,27.0,0.0,0.0,0.0,0.0,0.0,Mars,55 Cancri e,False,True,D,296,P,1,False,False,False,False,False
4275,27.0,0.0,2680.0,0.0,0.0,523.0,Europa,unknown,False,False,D,297,P,1,False,True,False,False,True
4276,43.0,0.0,0.0,0.0,0.0,0.0,Earth,PSO J318.5-22,False,True,G,1498,S,1,False,False,False,False,False

In [135]:
test_df_processed_df_final = preprocessor.transform(test_df_processed_df)

In [136]:
new_best_model.predict(test_df_processed_df_final)

/Users/rickyansong/Library/Mobile Documents/com~apple~CloudDocs/Data Science/Projects/space_ship_titanic/.venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([ True, False,  True, ...,  True,  True,  True], shape=(4277,))

In [137]:
test_df['Transported'] = new_best_model.predict(test_df_processed_df_final)

/Users/rickyansong/Library/Mobile Documents/com~apple~CloudDocs/Data Science/Projects/space_ship_titanic/.venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [138]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,True
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,False
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,True
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,True
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,False

In [139]:
test_df['Transported'] = test_df['Transported'].astype(bool)

In [140]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,True
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,False
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,True
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,True
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,False

In [141]:
test_df[['PassengerId', 'Transported']].to_csv(r'../submission/submission.csv', index=False)